@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

.header {
  background-color: #000;
  color: grey;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Adjusted spacing */
  margin: 0;
  padding: 0;
}

nav ul li {
  cursor: pointer;
  position: relative;
  padding: 10px 0;
}

nav ul li.active {
  color: white;
  border-bottom: 3px solid white;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;

}

.new-badge {
  background-color: #6200ea;
  color: white;
  font-size: 0.75rem;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 5px;
}

.auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth input {
    padding: 12px 16px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 0.875rem;
  width: 500px; /* Increased width */
}

.auth .icon {
  /* background-image: url('/search-icon.png'); Assuming you have a search icon */
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-left: -30px;
}

.auth button {
  padding: 7px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  font-weight: semibold;
}

.auth button:hover {
  background-color: rgba(255, 255, 255, 0.719);
}

